[Desktop Entry]
Type=Application
Name=Popsicle-ng
Name[fr_FR]=Popsicle-ng
Name[pt_BR]=Popsicle-ng
GenericName=USB Flasher
GenericName[fr_FR]=Flasheur USB
GenericName[pt_BR]=Gravador USB
X-GNOME-FullName=Popsicle-ng USB Flasher
X-GNOME-FullName[fr_FR]=Popsicle-ng Flasheur USB
X-GNOME-FullName[pt_BR]=Popsicle-ng Gravador USB
Icon=com.system76.Popsicle
Categories=System;
StartupWMClass=popsicle-ng-gtk
Keywords="USB;Flash;Drive;Popsicle;Popsicle-ng;"
Keywords[fr_FR]="USB;Flasheur;Lecteur;Popsicle;Popsicle-ng;"
Keywords[pt_BR]="USB;Gravar;Pendrive;Popsicle;Popsicle-ng;"
MimeType=application/x-cd-image;application/x-raw-disk-image;application/octet-stream;
Terminal=false
StartupNotify=true
Exec=popsicle-ng-gtk %f
